.articleContent :global(img) {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 2rem 0;
}

.articleContent :global(p) {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.articleContent :global(a) {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}
